/**
  configurable bits
*/

.is-button {
  color: #333333;
  background: #e3e3e3;
  border: 1px solid #bbb;
}

  .is-button:hover {
    border-color: #9f9f9f;
  }

  .is-button:active {
    background: #f9f9f9;
  }

  .is-button:active .gradient {
    background: #e3e3e3;
  }

.is-button .gradient {
  background: #f9f9f9;
  border-bottom: 0.3em solid #eee;
}

/**
  Infrastructure Styles
*/

.is-button {
  padding: 0;
  height: 2em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 2.1em;
  overflow: visible;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

.is-button:active, .is-button:focus {
  outline: none;
}

.is-button span {
  margin: 0 0.7em;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.is-button b.gradient {
  height: 45%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
}

.is-button i {
  width: 1px;
  height: 1px;
  display: block;
  background: #fff;
  position: absolute;
  z-index: 4;
}

.is-button i.top {
  top: -1px;
}

.is-button i.right {
  right: -1px;
}

.is-button i.left {
  left: -1px;
}

.is-button i.bottom {
  bottom: -1px;
}

.is-button:active b.gradient {
  z-index: 2;
}
